src/main/wsdl/testSession.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://cyrille/ws/sample/session"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="testSession"
	targetNamespace="http://cyrille/ws/sample/session">
	<wsdl:types>
		<xsd:schema targetNamespace="http://cyrille/ws/sample/session">
			<xsd:element name="loginResponse" type="xsd:string" />
			<xsd:element name="loginRequest" type="xsd:string" />
			<xsd:element name="logoutResponse" type="xsd:string" />
			<xsd:element name="logoutRequest" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>id of the current user to check there is no session mix</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="loginResponse">
		<wsdl:part element="tns:loginResponse"
			name="loginResponse" />
	</wsdl:message>
	<wsdl:message name="loginRequest">
		<wsdl:part element="tns:loginRequest" name="loginRequest" />
	</wsdl:message>
	<wsdl:message name="logoutResponse">
		<wsdl:part element="tns:logoutResponse"
			name="logoutResponse" />
	</wsdl:message>
	<wsdl:message name="logoutRequest">
		<wsdl:part element="tns:logoutRequest" name="logoutRequest" />
	</wsdl:message>
	<wsdl:portType name="testSession">
		<wsdl:operation name="login">
			<wsdl:input message="tns:loginRequest" />
			<wsdl:output message="tns:loginResponse" />
		</wsdl:operation>
		<wsdl:operation name="logout">
			<wsdl:input message="tns:logoutRequest" />
			<wsdl:output message="tns:logoutResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="testSessionBinding" type="tns:testSession">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="login">
			<wsdl:documentation>Returns the id</wsdl:documentation>
			<soap:operation
				soapAction="http://cyrille/ws/sample/session/login" />
			<wsdl:input>
				<soap:body parts="loginRequest" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="loginResponse" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="logout">
			<soap:operation
				soapAction="http://cyrille/ws/sample/session/logout" />
			<wsdl:input>
				<soap:body parts="logoutRequest" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="logoutResponse" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="testSessionService">
		<wsdl:port binding="tns:testSessionBinding" name="testSessionBinding">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
